%h2="Comments (" + @idea.comments.count.to_s + ")"
=render 'comment_form'
%br
%br
%table{:width=>"300px"}
  -@idea.comments.each do |c|
    %tr
      %td
        %b=time_ago_in_words(c.updated_at) + " ago"
    %tr
      %td
        =c.body
        %br
        %br