%b=link_to 'Submit new idea', new_idea_path
%br
%br
.compact-table
  %table
    %tr
      %th{:class=>'column-integer'}="✓"
      %th{:class=>'column-string'}="Ideas"
      %th{:class=>'column-integer'}="Comments"
      %th{:class=>'column-string', :width=>"15%"}="Last activity"
    - @ideas.each do |idea|
      %tr
        %td{:style=>"text-align: center"}
          %b
            =idea.endorsements.count
        %td{:style=>"text-align: left"}=link_to idea.title, idea
        %td{:style=>"text-align: center"}
          %b
            =idea.comments.count
        %td{:style=>"text-align: left"}=time_ago_in_words(idea.updated_at) + " ago"

