.title-image
  =link_to (image_tag 'title-logo.png'), :root
.title-text
  %span{:class=>'title-head'}=link_to "NUBIC FedEx Day idea box", :root
  %br
  %span{:class=>'title-subhead'}=link_to "Submit an idea. Get feedback.", :root
%br