#title-image
  =link_to (image_tag 'title-logo.png'), :root
#title-text
  %span{:id=>'title-head'}=link_to "FedEx Day idea box", :root
  %br
  %span{:id=>'title-subhead'}=link_to "Submit an idea. Get feedback.", :root
  %br
#title-countdown
  %b="FedEx day"
  March 15, 2012
%br