%b=link_to 'Submit new idea', new_post_path
%br
%br
%table{:style=>"width: 100%"}
  %tr
    %th{:style=>"text-align: left"}="Ideas"
    %th{:style=>"text-align: left; width: 1%"}="Comments"
    %th{:style=>"text-align: left; width: 20%"}="Last activity"
  - @posts.each do |post|
    %tr
      %td{:style=>"text-align: left"}=link_to post.title, post
      %td{:style=>"text-align: center"}
        %b
          =post.comments.count
      %td{:style=>"text-align: left"}=time_ago_in_words(post.updated_at) + " ago"

